.numbers {
  padding-top: 20px;
  display: flex;
  gap: 2%;
  box-sizing: border-box;
  overflow-x: scroll;
  padding-right: 1%;
  scrollbar-color: red transparent;
  scrollbar-width: thin;
}

.number_box {
  background-color: #fff;
  padding: 5px 10px;
  text-align: center;
  border-radius: 5px;
  box-sizing: border-box;
  min-width: 150px;
}

.numbers_number {
  margin: 5px 0px;
  font-size: 14px;
}

.numbers_txt {
  margin: 5px 0px;
  color: #8e8e8e;
  font-weight: bold;
  font-size: 13px;
}
