.subscription_container {
  background-color: #fff;
  width: 45%;
  border-radius: 5px;
  height: 40vh;
  box-sizing: border-box;
  overflow-y: hidden;
}

.subscription_header {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  align-items: center;
  height: 35px;
  padding-top: 10px;
}

.head_txt {
}

.view_btn {
  background-color: #7071e8;
  border: none;
  color: #fff;
  height: 25px;
  font-size: 10px;
  padding: 0px 10px;
  border-radius: 2px;
  font-weight: 600;
  letter-spacing: 0.4px;
  cursor: pointer;
}

.exit_btn {
  background-color: red;
  color: #fff;
  padding: 4px 12px;
  font-size: 11px;
  border: none;
  border-radius: 2px;
  font-weight: bold;
  cursor: pointer;
}

.subscription_table {
  margin: auto;
  width: 95%;
}

.subscription_table th {
  height: 40px;
  text-align: center;
  color: #8e8e8e;
  font-size: 15px;
  text-align: center;
}

.subscription_table td {
  font-size: 13px;
  height: 25px;
  text-align: center;
}

.dashed_line {
  border: none;
  border-bottom: 0.1px dashed lightgray;
}

.no_data{
  color: #8e8e8e;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
}

@media (min-width: 0px) and (max-width: 979px) {
  .subscription_container {
    width: 100%;
    padding: 0px 10px;
    box-sizing: border-box;
    margin-top: 30px;
  }

  .subscription_container td {
    width: 100px;
  }
  .subscription_container th {
    width: 100px;
  }
}
