.connect_broker_form {
  width: 90%;
  margin: auto;
  z-index: 1;
  position: absolute;
  top: 10vh;
  max-width: 400px;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #fff;
  padding: 20px 0px;
  border-radius: 13px;
}

.close_btn {
  margin: 0px 15px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 95%;
}

.modal_title {
  color: #8e8e8e;
  font-weight: bold;
  text-align: left;
  padding-left: 5%;
}

.selecte_broker {
  box-sizing: border-box;
  width: 90%;
  margin: auto;
  height: 45px;
  border: none;
  color: #979797;
  background-color: #edf2f8;
  font-size: 14px;
  margin-top: 10px;
  border-radius: 8px;
}

.input {
  box-sizing: border-box;
  border-radius: 8px;
  background-color: #edf2f8;
  color: #979797;
  width: 90%;
  margin: auto;
  height: 45px;
  border: none;
  padding-left: 10px;
  font-size: 14px;
  margin-top: 15px;
}

.submit_btn {
  width: 90%;
  border-radius: 4px;
  background: #7071e8;
  height: 42px;
  color: #fff;
  border: none;
  font-size: 19px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 20px;
  cursor: pointer;
}
