.order_details {
  box-sizing: border-box;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #fff;
  box-sizing: border-box;
  padding: 15px;
  margin-top: 20px;
  position: fixed;
  z-index: 10;
  top: 20vh;
  width: 350px;
  border: 1px solid grey;
  border-radius: 10px;
  padding-top: 0px;
  padding-bottom: 20px;
}

.close_btn {
  width: 100%;
  text-align: right;
  font-weight: bold;
  margin: 10px 0px;
  font-size: 18px;
  cursor: pointer;
}

.order_overview {
  display: flex;
  justify-content: space-around;
  background: #edf2f8;
  border-radius: 5px;
  font-size: 13px;
  padding: 10px 0px;
}

.order_overview p:nth-child(1) {
  color: #7e7e7e;
  margin: 5px 0px;
}

.order_overview p:nth-child(2) {
  color: #979797;
  margin: 5px 0px;
}

.order_desc {
  background-color: #edf2f8;
  margin-top: 20px;
  padding: 3%;
  text-align: left;
  border-radius: 5px;
  width: 95%;
}

.order_desc_heading {
  color: #7e7e7e;
  font-size: 16px;
  margin: 5px 0px;
}

.order_desc_date {
  color: #979797;
  font-size: 14px;
  margin: 5px 0px;
}

.order_desc_status {
  width: 90%;
  background-color: #fff;
  margin: auto;
  text-align: left;
  padding: 10px 10px;
  border-radius: 5px;
  margin: 15px 0px;
}

.order_desc_status p:first-child {
  margin: 5px 0px;
  color: #7e7e7e;
}

.order_desc_status p:last-child {
  color: #979797;
  margin: 5px 0px;
  font-size: 12px;
}

.order_desc_row {
  display: flex;
  justify-content: space-between;
}

.order_desc_row p:first-child {
  color: #7e7e7e;
  font-size: 14px;
  margin: 4px 0px;
}

.order_desc_row p:last-child {
  color: #979797;
  font-size: 12px;
  margin: 4px 0px;
}
