.positions_container {
    padding: 20px;
    border-radius: 8px;
    padding-top: 0px;
}

.positions_table {
    width: 100%;
    border-collapse: collapse;
}

.positions_table th,
.positions_table td {
    padding: 10px;
    text-align: center;
}

.positions_table td {
    font-size: 14px;
}

.positions_table th {
    height: 40px;
    color: #8e8e8e;
    font-size: 15px;
    text-align: center;
}

.exit_btn {
    background-color: red;
    color: #fff;
    padding: 4px 12px;
    font-size: 11px;
    border: none;
    border-radius: 2px;
    font-weight: bold;
    cursor: pointer;

}